@use './variables.scss' as *;

body {
    background: $secondary;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

h1 {
    color: $primary;
    border: 5px solid $accent;
    padding: 0.5rem 1rem;
}
